/*
COLOR PALETTE
*************
NAVBAR : HEX #1E293D

SECTION: HEX #364255

LINK: HEX #EE4560

BLACK AND WHITE
*/

/**** RESETTING BROWSER DEFAULT ****/

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
input,
select,
textarea {
width: 100%;
font-family: inherit;
font-size: 100%;
padding: 0.5rem;
margin-bottom: 1rem;
}

/**** END OF RESETTING ****/

:root {
  --navbar-color: #1E293D;
  --section-color: #364255;
  --text-color: #CBD5E1;
  --link-color: #EE4560;
  --highlight-color: #598EF3;
  --mobile-font-size: 1.25rem;
  --desktop-font-size: 1.5rem;
  --icons-font-size: 2rem;
  --nav-mobile-font-size: 1.5rem;
  --nav-desktop-font-size: 1.7rem;
  --mobile-nav-padding: 0.5rem;
  --section-padding: 2.5rem;
  --headings-p-img-margin: 1.5rem;
  --p-line-height: 1.5;
  --font-family: 'Poppins', sans-serif;
  --regular-font: 400;
  --bold-font: 700;
}

body {
  font-size: var(--mobile-font-size);
  font-family: var(--font-family);
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: var(--headings-p-img-margin);
}

.img-article {
  border-radius: 30px;
}

p, h1, h2, h3, h4, h5, h6, ul {
  margin-bottom: var(--headings-p-img-margin);
  line-height: var(--p-line-height);
}


header {
  background: var(--navbar-color);
  position: sticky;
  top: 0;
  z-index: 999;
  border-bottom: 3px solid var(--text-color);

}

.container {
  max-width: 80%;
  margin: 0 auto;
  padding: var(--section-padding) 0;
  z-index: 900;
  position: relative;
}

.container-mobile-nav {
  max-width: 80%;
  margin: 0 auto;
  padding: var(--mobile-nav-padding) 0;
  //border: 2px solid red;
}

.logo-menu-bars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //padding-bottom: 2rem;
}

.logo p {
  padding-bottom: 0;
}

.logo a {
  color: var(--link-color);
  font-size: 2rem;
  font-weight: var(--bold-font);
  text-decoration: none;
}

.mobile-menu {
  color: var(--link-color);
  font-size: 3rem;
}

.nav-bar {
  display: none;
}

.toggle-nav {
  display: block;
}

.menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.nav-item {
  padding: 1rem 0;
  font-size: var(--nav-mobile-font-size);
  font-weight: var(--bold-font);

}

.nav-link {
  text-decoration: none;
  color: var(--link-color)
}

.standout {
  font-family: 'Nosifer', sans-serif;
  font-size: 1.5em;
}

.highlight {
  color: var(--highlight-color);
  font-weight: 600;
}

/* .backdrop {
  background: rgb(0 0 0 / .5);
  padding: 2rem;
} */

.shape1 {
  position: absolute;
  opacity: 0.8;
  transform: translateX(-10rem);
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background: #598ef3;
  z-index: 100;
  box-shadow: 10px 10px 14px 4px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 14px 4px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 14px 4px rgba(0,0,0,0.75);
}

.shape2 {
  position: absolute;
  opacity: 0.8;
  transform: translateX(18rem) rotate(45deg);
  width: 15rem;
  height: 15rem;
  background: var(--link-color);
  z-index: 100;
  box-shadow: 10px 10px 14px 4px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 14px 4px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 14px 4px rgba(0,0,0,0.75);
}

.shape3 {
  position: absolute;
  opacity: 0.8;
  transform: translateY(30rem) rotate(45deg);
  width: 20rem;
  height: 20rem;
  background: var(--navbar-color);
  z-index: 100;
  box-shadow: 10px 10px 14px 4px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 14px 4px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 14px 4px rgba(0,0,0,0.75);
}

.shape4 {
  position: absolute;
  opacity: 0.8;
  transform: translate(22rem) rotate(45deg);
  width: 15rem;
  height: 15rem;
  background: #598ef3;
  z-index: 100;
  box-shadow: 10px 10px 14px 4px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 14px 4px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 14px 4px rgba(0,0,0,0.75);
}

.shape5 {
  position: absolute;
  opacity: 0.8;
  transform: translate(-10rem) rotate(45deg);
  width: 15rem;
  height: 15rem;
  background: var(--link-color);
  z-index: 100;
  box-shadow: 10px 10px 14px 4px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 14px 4px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 14px 4px rgba(0,0,0,0.75);
}

.shape6 {
  position: absolute;
  opacity: 0.6;
  transform: translate(12rem, -5rem) rotate(45deg);
  width: 30rem;
  height: 30rem;
  background: #598ef3;
  z-index: 100;
  box-shadow: -8px 10px 14px 4px rgba(0,0,0,0.75);
-webkit-box-shadow: -8px 10px 14px 4px rgba(0,0,0,0.75);
-moz-box-shadow: -8px 10px 14px 4px rgba(0,0,0,0.75);
}


.hero-section {
  background-color: var(--section-color);
  position: relative;
  overflow: hidden;
}


.hero-section-img {
  border-radius: 50%; 
  position: relative;
  left: 50rem;
  animation: 1s linear forwards img-entrance;
  
}

.hero-section-p {
  background: var(--navbar-color);
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  position: relative;
  right: 50rem;
  animation: 1s linear forwards p-entrance;
  
}

.cta {
  background: var(--link-color);
  padding: 1rem 2rem;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  text-decoration: none;
  display: block;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 10px 10px 15px 6px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 15px 6px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 15px 6px rgba(0,0,0,0.75);
}

.section-1 {
  background: var(--navbar-color);
  position: relative;
  overflow: hidden;
}

.section-2 {
  background: var(--section-color);
  position: relative;
  overflow: hidden;
}

.section-portfolio {
  background: var(--navbar-color);
}

.section-portfolio h3 a {
  color: var(--link-color);
  text-decoration: none;
}

.footer {
  background: var(--section-color);
  color: var(--text-color);
  position: relative;
  overflow: hidden;
  
}

.footer p {
  text-align: center;
  padding-bottom: 0;
  font-size: 1.5rem;
}

/* ****END OF INDEX STYLES *****/

.about {
  background: var(--section-color);
  position: relative;
  overflow: hidden;
}

.shape1-about {
  position: absolute;
  opacity: 0.8;
  transform: translateX(-10rem);
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  background: var(--navbar-color);
  z-index: 100;
  box-shadow: 10px 10px 14px 4px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 14px 4px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 14px 4px rgba(0,0,0,0.75);
}

.shape2-about {
  position: absolute;
  opacity: 0.8;
  transform: translateX(90rem) rotate(45deg);
  width: 30rem;
  height: 30rem;
  background: var(--highlight-color);
  z-index: 100;
  box-shadow: 10px 10px 14px 4px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 14px 4px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 14px 4px rgba(0,0,0,0.75);
}

.shape3-about {
  position: absolute;
  opacity: 0.8;
  transform: translate(94rem) rotate(45deg);
  width: 30rem;
  height: 30rem;
  background: var(--section-color);
  z-index: 100;
  box-shadow: 10px 10px 14px 4px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 14px 4px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 14px 4px rgba(0,0,0,0.75);
}

.shape4-about {
  position: absolute;
  opacity: 0.8;
  transform: translate(-25rem, 30rem) rotate(45deg);
  width: 30rem;
  height: 30rem;
  background: var(--link-color);
  z-index: 100;
  box-shadow: 10px 10px 14px 4px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 14px 4px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 14px 4px rgba(0,0,0,0.75);
}

.shape5-about {
  position: absolute;
  opacity: 0.8;
  transform: translate(90rem, 35rem) rotate(45deg);
  width: 30rem;
  height: 30rem;
  background: var(--highlight-color);
  z-index: 100;
  box-shadow: 10px 10px 14px 4px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 14px 4px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 14px 4px rgba(0,0,0,0.75);
}

.shape6-about {
  position: absolute;
  opacity: 0.8;
  transform: translate(-10rem, 70rem) rotate(45deg);
  width: 15rem;
  height: 15rem;
  background: var(--navbar-color);
  z-index: 100;
  box-shadow: 10px 10px 14px 4px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 14px 4px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 14px 4px rgba(0,0,0,0.75);
}


/***** CONTACT.HTML STYLES *****/

.contact {
  background: var(--section-color);
}

.content-flex-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  //border: 2px solid red;
}

.img-wrapper {
  background: var(--navbar-color);
  padding: 2rem;
  color: white;
}

.form-wrapper {
  padding: 2rem;
  background: var(--navbar-color);
  color: white;
}

.input-flex-parent {
  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;
  //border: 2px solid yellow;
}

label {
display: block;
padding-bottom: 0.3rem;
}

/* button {
display: block;
background: #E7D7C1;
color: black;
cursor: pointer;
padding: 0.75rem 1.5rem;
} */

textarea {
resize: none;
}

/***** END OF CONTACT.HTML STYLES *****/

/***** START OF SERVICES.HTML STYLES *****/

.services-flex-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}


@keyframes img-entrance {

  0%{ left: 50rem;}
  
  50%{ left: 25rem; }
  
  100%{ left: 0;}
  
}

@keyframes p-entrance {

  0%{ right: 50rem;}
  
  50%{ right: 25rem; }
  
  100%{ right: 0;}
  
}


/*  MEDIA QUERIES FOR DESKTOP   */

@media screen and (min-width: 56rem) {

  :root {
    --section-padding: 4rem;
  }

  body {
    font-size: var(--desktop-font-size);
  }

  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }
  
  .container-mobile-nav {
  max-width: 80%;
  margin: 0 auto;
  padding: var(--section-padding) 0;
}

.img-article {
  float: left;
  padding: 0 1rem 1rem 0;
  border-radius: 30px;
}

  .nav-flex-parent {
    display: flex;
    justify-content: space-between;
  }

  /* .logo-menu-bars {
    padding-bottom: 0;
  } */

  /* .logo p {
    padding-bottom: 0;
  } */

  .mobile-menu {
    display: none;
  }

  .nav-bar {
    display: block;
  }


  .menu {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    align-items: center;
  }

  .nav-item {
    font-size: var(--nav-desktop-font-size);
    padding: 0;
    border-bottom: 0;
    
  
  }

  .shape1 {
    
    transform: translateX(-15rem);
    width: 30rem;
    height: 30rem; 
  }

  .shape2 {
    
    transform: translate(55rem, 10rem) rotate(45deg);
    width: 30rem;
    height: 30rem;
    
  }

  .shape3 {
    
    transform: translate(20rem, 18rem) rotate(45deg);
    width: 25rem;
    height: 25rem;
    
  }

  .shape4 {
  
    transform: translate(85rem) rotate(45deg);
    width: 30rem;
    height: 30rem;

  }

  .shape5 {
  
    transform: translate(-20rem) rotate(45deg);
    width: 30rem;
    height: 30rem;

  }

  .shape6 {
  border-radius: 50%;
  transform: translate(45rem, -20rem);
  width: 70rem;
  height: 70rem;
  }

  .hero-section-parent {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    
  }

  .hero-section-img { 
    animation: 1s linear forwards img-entrance-desktop;
  }

  .hero-section-p {
    padding: 2rem;
    margin-bottom: 0;
    top: -50rem;
    right: 0;
    font-size: 2rem;
    animation: 1s linear forwards p-entrance-desktop;
  }

  .hero-section-child {
    flex-basis: 47%;
  }

  .cta-flex-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cta {
    display: inline-block;
    
  }

  .section-portfolio-flex-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
  }

  .section-portfolio-flex-child {
    flex-basis: 32%;
    padding: 1rem;
    border: 2px solid var(--section-color);
    margin-bottom: 1rem;
  }

  .about h1 {
    text-align: left;
  }

  /* .about p {
    padding: 2rem;
    margin-bottom: 2rem;
  } */

  .content-flex-parent {
    flex-direction: row;
}

.input-flex-parent {
    flex-direction: row;
    justify-content: center;
    //align-items: center;
    gap: 1rem;
    
}

  @keyframes img-entrance-desktop {

    0%{ left: 50rem;}
    
    50%{ left: 25rem; }
    
    100%{ left: 0;}
    
}
  
  @keyframes p-entrance-desktop {

    0%{ top: -50rem;}
    
    50%{ top: -25rem; }
    
    100%{ top: 0;}
    
}

}

@media screen and (min-width: 90rem) {

  .container {
    max-width: 75rem;
  }







}

